aiodns
aiohttp
beautifulsoup4
cffi
cssselect
Fabric3>=1.13
future>=0.16
ghp-import>=0.5
html2text
html5lib
lxml
pendulum>=2,<3
pyquery>=1.2
python-dateutil>=2.6.0
pytz>=2017.2
pytzdata>=2017.2
recurrent>=0.2.5
ruamel.yaml
six
tqdm
vobject
